<div class="data-start-row" style={{firstRowStyle}}></div>
{{#bs-accordion as |acc|}}
  {{#each results as |result|}}
    <div class="data-row" data-row-id={{result.id}}>
      {{#acc.item value=result.id as |accItem|}}
        {{#accItem.title}}{{result.name}}{{/accItem.title}}
        {{#accItem.body}}
          body
        {{/accItem.body}}
      {{/acc.item}}
    </div>
  {{/each}}
{{/bs-accordion}}
{{loading-container
  isLoading=bottomLoading
  errorReason=results.error
  sizeClass="sm"
  spinnerBlockClass="horizontal-align-middle"}}
{{yield}}
