<div class="top-bar">
  <a {{action "toggleAllItems"}} class={{if disabled "disabled"}}>
    {{tt this (if areAllItemsSelected "deselectAll" "selectAll")}}
  </a>
  {{#if onShowHelp}}
    <a {{action onShowHelp}}>
      {{tt this "helpTrigger"}}
    </a>
  {{/if}}
</div>
<ul class="items-list">
  {{#each items as |item index|}}
    <li class="checkbox-item">
      {{one-checkbox
        inputId=(concat elementId "-" index)
        checked=(contains item selectedItems)
        isReadOnly=disabled
        update=(action "toggleItem" item)}}
      <label class="item-name" for={{concat elementId "-" index}}>
        {{#if hasBlock}}
          {{yield item}}
        {{else}}
          {{#truncated-string}}{{item.name}}{{/truncated-string}}
        {{/if}}
      </label>
    </li>
  {{/each}}
</ul>
