<div class="form-group">
  <label class="control-label">{{tt this "type"}}</label>
  {{checkbox-filter
    items=typeMapping
    selectedItems=typeFilter
    onChange=(action (mut typeFilter))}}
</div>
<div class="form-group">
  <label class="control-label">{{tt this "accessType"}}</label>
  {{checkbox-filter
    items=accessTypeMapping
    selectedItems=accessTypeFilter
    onChange=(action (mut accessTypeFilter))}}
</div>
<div class="form-group form-group-sm">
  <label class="control-label" for="year-filter-input">{{tt this "year"}}</label>
  <input
    id="year-filter-input"
    class="form-control"
    type="text"
    value={{yearFilter}}
    oninput={{action (action (mut yearFilter)) value="target.value"}}
    onkeydown={{invoke-on-enter (action "filterDataObjects")}}>
</div>
{{#bs-button size="sm" type="default" class="pull-right" onClick=(action "filterDataObjects")}}{{tt this "filter"}}{{/bs-button}}
{{yield}}
