<div class="panel-body">
  <div class="footer-section pull-left sources-section">
    {{!-- TODO: link target --}}
    <a>{{tt this "sourcesAndOrganisations"}}</a>
  </div>
  <div class="footer-section pull-left include-metadata-section">
    {{tt this "yourMetedataIncludedContact"}}<a href="https://www.ecrin.org/" target="_blank">{{tt this "here"}}</a>.
  </div>
  <div class="logo eosc-logo pull-right">
    {{bs-tooltip title=(tt this "eoscLogoDescription")}}
  </div>
  <div class="logo xdc-logo pull-right">
    {{bs-tooltip title=(tt this "xdcLogoDescription")}}
  </div>
</div>
