<div class="data-start-row" style={{firstRowStyle}}></div>
{{#bs-accordion onChange=(action "resultExpanded") as |acc|}}
  {{#each results as |result|}}
    <div class="data-row" data-row-id={{result._id}}>
      {{#acc.item value=result._id as |accItem|}}
        {{query-results/result
          item=accItem
          result=result
          isExpanded=(eq result._id expandedResultId)
          queryParams=queryParams}}
      {{/acc.item}}
    </div>
  {{/each}}
{{/bs-accordion}}
{{loading-container
  isLoading=bottomLoading
  errorReason=results.error
  sizeClass="sm"
  spinnerBlockClass="horizontal-align-middle"}}
{{yield}}
