<div class="relative clearfix">
  <div class="row study-filters">
    <div class="col-xs-12 col-sm-4 form-group">
      <label class="control-label">{{tt this "selectMode"}}</label>
      {{#power-select
        selected=studySearchParams.mode
        options=modeOptions
        onchange=(action onChange "mode")
        searchEnabled=false
        as |mode|}}
        {{tt this (concat "modes." mode)}}
      {{/power-select}}
    </div>
    {{#if (eq studySearchParams.mode "specificStudy")}}
      <div class="col-xs-12 col-sm-4 form-group">
        <label class="control-label">{{tt this "studyIdType"}}</label>
        {{#power-select
          selected=studySearchParams.studyIdType
          options=studyIdTypeMapping
          onchange=(action onChange "studyIdType")
          searchEnabled=false
          as |studyIdType|}}
          {{studyIdType.name}}
        {{/power-select}}
      </div>
      <div class="col-xs-12 col-sm-4 form-group">
        <label class="control-label" for="study-id-input">{{tt this "studyId"}}</label>
        <input
          id="study-id-input"
          class="form-control"
          type="text"
          value={{studySearchParams.studyId}}
          onkeydown={{invoke-on-enter onFind}}
          oninput={{action (action onChange "studyId") value="target.value"}}>
      </div>
    {{else if (eq studySearchParams.mode "studyCharact")}}
      <div class="col-xs-12 col-sm-3 form-group">
        <label class="control-label" for="study-title-contains-input">{{tt this "studyTitleContains"}}</label>
        <input
          id="study-title-contains-input"
          class="form-control"
          type="text"
          value={{studySearchParams.studyTitleContains}}
          onkeydown={{invoke-on-enter onFind}}
          oninput={{action (action onChange "studyTitleContains") value="target.value"}}>
      </div>
      <div class="col-xs-12 col-sm-2 form-group">
          <label class="control-label hidden-xs">&nbsp;</label>
          {{#power-select
            options=studyTitleTopicOperatorOptions
            selected=studySearchParams.studyTitleTopicOperator
            onchange=(action onChange "studyTitleTopicOperator")
            searchEnabled=false
            as |studyTitleTopicOperator|}}
            {{tt this (concat "studyTitleTopicOperatorOptions." studyTitleTopicOperator)}}
          {{/power-select}}
        </div>
      <div class="col-xs-12 col-sm-3 form-group">
        <label class="control-label" for="study-topics-include-input">{{tt this "studyTopicsInclude"}}</label>
        <input
          id="study-topics-include-input"
          class="form-control"
          type="text"
          value={{studySearchParams.studyTopicsInclude}}
          onkeydown={{invoke-on-enter onFind}}
          oninput={{action (action onChange "studyTopicsInclude") value="target.value"}}>
      </div>
    {{else if (eq studySearchParams.mode "viaPubPaper")}}
      <div class="col-xs-12 col-sm-4 form-group">
        <label class="control-label" for="doi-input">{{tt this "doi"}}</label>
        <input
          id="doi-input"
          class="form-control"
          type="text"
          value={{studySearchParams.doi}}
          onkeydown={{invoke-on-enter onFind}}
          oninput={{action (action onChange "doi") value="target.value"}}>
      </div>
      <div class="col-xs-12 col-sm-4 form-group">
        <label class="control-label" for="data-object-title-input">{{tt this "dataObjectTitle"}}</label>
        <input
          id="data-object-title-input"
          class="form-control"
          type="text"
          value={{studySearchParams.dataObjectTitle}}
          onkeydown={{invoke-on-enter onFind}}
          oninput={{action (action onChange "dataObjectTitle") value="target.value"}}>
      </div>
    {{/if}}
  </div>
  {{#bs-button type="primary" class="pull-right find-button" onClick=onFind}}{{tt this "find"}}{{/bs-button}}
</div>
