<div class="studies-list-header clearfix">
  {{tt this "results"}}: <span class="one-label">{{studies.length}}</span>
  {{#if studies.length}}
    {{#bs-button
      type="danger"
      size="sm"
      onClick=(action "removeAllStudies")
      class="pull-right"
      disabled=isFetchingData
    }}
      {{tt this "clearStudyList"}}
    {{/bs-button}}
  {{/if}}
</div>
<div class="studies-list">
  <div class="data-start-row" style={{firstRowStyle}}></div>
  {{#bs-accordion onChange=(action "resultExpanded") as |acc|}}
    {{#each studiesChunksArray as |study|}}
      <div class="data-row" data-row-id={{study.id}}>
        {{#acc.item value=study.id as |accItem|}}
          {{query-results/result
            item=accItem
            study=study
            isExpanded=(eq study.id expandedResultId)
            remove=(action "removeStudy" study)
            isFetchingData=isFetchingData
          }}
        {{/acc.item}}
      </div>
    {{/each}}
  {{/bs-accordion}}
  {{yield}}
</div>
