<div class="studies-list-header clearfix">
  <div class="results-counter">
    {{tt this "results"}}: <span class="one-label">{{studies.length}}</span>
  </div>
  <div class="results-actions">
    {{#bs-button
      type="default"
      size="sm"
      onClick=(action (mut isLoadDialogOpened) true)
      disabled=isFetchingData
    }}
      {{tt this "load"}}
    {{/bs-button}}
    {{#if studies.length}}
      {{#bs-button
        type="default"
        size="sm"
        onClick=(action (mut isSaveDialogOpened) true)
        disabled=isFetchingData
      }}
        {{tt this "save"}}
      {{/bs-button}}
      {{#bs-button
        type="default"
        size="sm"
        onClick=exportResultsToPdf
        disabled=isFetchingData
      }}
        {{tt this "exportToPdf"}}
      {{/bs-button}}
      {{#bs-button
        type="danger"
        size="sm"
        onClick=(action removeAllStudies)
        disabled=isFetchingData
      }}
        {{tt this "clear"}}
      {{/bs-button}}
    {{/if}}
  </div>
</div>
{{save-dialog
  isOpened=isSaveDialogOpened
  onSave=(action "saveResults")
  onCancel=(action (mut isSaveDialogOpened) false)
}}
{{load-dialog
  isOpened=isLoadDialogOpened
  onLoadList=loadSavedResultsList
  onLoad=(action "loadSavedResults")
  onRemove=removeSavedResults
  onCancel=(action (mut isLoadDialogOpened) false)
}}
{{#if studies.length}}
  <div class="studies-list">
    {{pagination-selector pagedContent=pagedStudies}}
    {{#each pagedStudies as |study|}}
      {{query-results/study-record
        study=study
        remove=(action removeStudy study)
        isFetchingData=isFetchingData
      }}
    {{/each}}
    {{pagination-selector
      pagedContent=pagedStudies
      perPageDropdownVerticalPosition="above"
    }}
  </div>
{{/if}}
