<div class="row">
  <div class="col-xs-12 col-sm-6 form-group">
    <label class="control-label">{{tt this "search"}}</label>
    <input
      class="form-control"
      type="text"
      value={{search}}
      oninput={{action (mut search) value="target.value"}}>
  </div>
  <div class="col-xs-12 col-sm-6 form-group">
    <label class="control-label">{{tt this "selectMode"}}</label>
    {{#power-select
      selected=mode
      options=modeOptions
      onchange=(action (mut mode))
      searchEnabled=false
      as |mode|}}
      {{mode}}
    {{/power-select}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 form-group">
    <label class="control-label">{{tt this "studyTitleContains"}}</label>
    <input
      class="form-control"
      type="text"
      value={{studyTitleContains}}
      oninput={{action (mut studyTitleContains) value="target.value"}}>
  </div>
  <div class="col-xs-12 col-sm-6 form-group">
    <label class="control-label">{{tt this "studyTopicsInclude"}}</label>
    <input
      class="form-control"
      type="text"
      value={{studyTopicsInclude}}
      oninput={{action (mut studyTopicsInclude) value="target.value"}}>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3 form-group">
    <label class="control-label">{{tt this "filterByType"}}</label>
    {{#power-select-multiple
      options=typeFilterOptions
      selected=typeFilter
      onchange=(action (mut typeFilter))
      as |typeFilter|}}
      {{typeFilter}}
    {{/power-select-multiple}}
  </div>
  <div class="col-xs-12 col-sm-3 form-group">
    <label class="control-label">{{tt this "filterByAccessType"}}</label>
    <input
      class="form-control"
      type="text"
      value={{accessTypeFilter}}
      oninput={{action (mut accessTypeFilter) value="target.value"}}>
  </div>
  <div class="col-xs-12 col-sm-3 form-group">
    <label class="control-label">{{tt this "filterByYear"}}</label>
    <input
      class="form-control"
      type="text"
      value={{yearFilter}}
      oninput={{action (mut yearFilter) value="target.value"}}>
  </div>
  <div class="col-xs-12 col-sm-3 form-group">
    <label class="control-label">{{tt this "filterByPublisher"}}</label>
    <input
      class="form-control"
      type="text"
      value={{publisherFilter}}
      oninput={{action (mut publisherFilter) value="target.value"}}>
  </div>
</div>
{{#bs-button type="primary" onClick=onFind}}{{tt this "find"}}{{/bs-button}}
{{#bs-button type="default" onClick=onClearAll}}{{tt this "clearAll"}}{{/bs-button}}
