<div class="studies-list-header">
  {{#if (gt latestSearchFittingStudiesCount 1000)}}
    {{#bs-alert type="warning" class="results-alert"}}
      {{tt this "tooMuchResultsAlert" totalCount=latestSearchFittingStudiesCount}}
    {{/bs-alert}}
  {{/if}}
  {{#if isStudiesLimitReached}}
    {{#bs-alert type="warning" class="results-alert"}}
      {{tt this "resultsLimitReachedAlert"}}
    {{/bs-alert}}
  {{/if}}
  <div class="results-counter">
    {{tt this "resultsCounter" totalCount=allStudiesCount filteredCount=studies.length}}
  </div>
  <div class="results-actions">
    {{#bs-button
      type="default"
      size="sm"
      onClick=(action (mut isLoadDialogOpened) true)
      disabled=isFetchingData
    }}
      {{tt this "load"}}
    {{/bs-button}}
    {{#if studies.length}}
      {{#bs-button
        type="default"
        size="sm"
        onClick=(action (mut isSaveDialogOpened) true)
        disabled=isFetchingData
      }}
        {{tt this "save"}}
      {{/bs-button}}
      {{#bs-button
        type="default"
        size="sm"
        onClick=(action "exportResultsToPdf")
        disabled=(or isFetchingData isExportingToPdf)
      }}
        {{tt this (if isExportingToPdf "exportingToPdf" "exportToPdf")}}
      {{/bs-button}}
      {{#bs-button
        type="danger"
        size="sm"
        onClick=(action removeAllStudies)
        disabled=isFetchingData
      }}
        {{tt this "clear"}}
      {{/bs-button}}
    {{/if}}
  </div>
</div>
{{yield}}
{{#if studies.length}}
  <div class="studies-list">
    {{pagination-selector pagedContent=pagedStudies}}
    {{#each pagedStudies as |study|}}
      {{query-results/study-record
        study=study
        selectedDataObjects=selectedDataObjects
        remove=(action removeStudy study)
        isFetchingData=isFetchingData
      }}
    {{/each}}
    {{pagination-selector
      pagedContent=pagedStudies
      perPageDropdownVerticalPosition="above"
    }}
  </div>
{{/if}}
{{save-dialog
  isOpened=isSaveDialogOpened
  onSave=(action "saveResults")
  onCancel=(action (mut isSaveDialogOpened) false)
}}
{{load-dialog
  isOpened=isLoadDialogOpened
  onLoadList=loadSavedResultsList
  onLoad=(action "loadSavedResults")
  onRemove=removeSavedResults
  onCancel=(action (mut isLoadDialogOpened) false)
}}
