<div class="studies-list-header clearfix">
  <div class="results-counter">
    {{tt this "results"}}: <span class="one-label">{{studies.length}}</span>
  </div>
  <div class="results-actions">
    {{!-- {{#bs-button
      type="default"
      size="sm"
      onClick=(action "openLoadStudiesDialog")
      disabled=isFetchingData
    }}
      {{tt this "load"}}
    {{/bs-button}} --}}
    {{#if studies.length}}
      {{#bs-button
        type="default"
        size="sm"
        onClick=(action (mut isSaveDialogOpened) true)
        disabled=isFetchingData
      }}
        {{tt this "save"}}
      {{/bs-button}}
      {{!-- {{#bs-button
        type="default"
        size="sm"
        onClick=(action "exportStudiesToPdf")
        disabled=isFetchingData
      }}
        {{tt this "exportToPdf"}}
      {{/bs-button}} --}}
      {{#bs-button
        type="danger"
        size="sm"
        onClick=(action "removeAllStudies")
        disabled=isFetchingData
      }}
        {{tt this "clear"}}
      {{/bs-button}}
    {{/if}}
  </div>
</div>
{{save-dialog
  isOpened=isSaveDialogOpened
  onSave=(action "saveStudies")
  onCancel=(action (mut isSaveDialogOpened) false)
}}
<div class="studies-list">
  <div class="data-start-row" style={{firstRowStyle}}></div>
  {{#bs-accordion onChange=(action "resultExpanded") as |acc|}}
    {{#each studiesChunksArray as |study|}}
      <div class="data-row" data-row-id={{study.id}}>
        {{#acc.item value=study.id as |accItem|}}
          {{query-results/study-record
            item=accItem
            study=study
            isExpanded=(eq study.id expandedResultId)
            remove=(action "removeStudy" study)
            isFetchingData=isFetchingData
          }}
        {{/acc.item}}
      </div>
    {{/each}}
  {{/bs-accordion}}
  {{yield}}
</div>
