{{#item.title}}
  {{#truncated-string}}{{title}}{{/truncated-string}}
{{/item.title}}
<ul class="result-actions">
  <li class="result-action" {{action "resultAction"}}>{{one-icon icon="settings"}}</li>
  <li class="result-action" {{action "resultAction"}}>{{one-icon icon="settings"}}</li>
  <li class="result-action" {{action "resultAction"}}>{{one-icon icon="settings"}}</li>
</ul>
{{#item.body}}
  {{#if (or dataObjects.length studies.length)}}
    <table class="do-records table">
      {{#each dataObjects as |dataObject|}}
        <tr>
          <td class="do-type">{{or dataObject._source.type.translatedName dataObject._source.type.name}}</td>
          <td class="do-description">
            {{#if dataObject._source.description}}
              <p>{{dataObject._source.description}}</p>
            {{/if}}
            {{#if dataObject._source.url}}
              <p>{{dataObject._source.url}}</p>
            {{/if}}
          </td>
          <td class="do-year">{{or dataObject._source.publication_year "-"}}</td>
          <td class="do-status"><span class="do-status-icon {{or dataObject._source.status "unknown"}}"></span></td>
        </tr>
      {{/each}}
      {{#if studies.length}}
        <tr>
          <td class="do-type">{{tt this "relatedStudies"}}</td>
          <td class="do-description">
            {{#each studies as |study|}}
              <p>
                {{#link-to "query" (query-params mode="specificStudy" studyId=study._id)}}
                  {{study._source.title}}
                {{/link-to}}
              </p>
            {{/each}}
          </td>
        </tr>
      {{/if}}
    </table>
  {{/if}}
  {{#unless (eq innerRecordsNumber innerRecords.length)}}
    {{#if fetchInnerRecordsProxy.isPending}}
      {{spin-spinner-block sizeClass="xs" class="loading-inner-spinner"}} <span>{{tt this "loading"}}</span>
    {{else}}
      {{#bs-button size="sm" onClick=(action "loadMore") class="load-more"}}{{tt this "loadMore"}}{{/bs-button}}
    {{/if}}
  {{/unless}}
{{/item.body}}
