{{#item.title}}
  {{#truncated-string}}{{title}}{{/truncated-string}}
{{/item.title}}
<ul class="result-actions">
  <li class="result-action" {{action "resultAction"}}>{{one-icon icon="settings"}}</li>
  <li class="result-action" {{action "resultAction"}}>{{one-icon icon="settings"}}</li>
  <li class="result-action" {{action "resultAction"}}>{{one-icon icon="settings"}}</li>
</ul>
{{#item.body}}
  {{#each innerRecords as |innerRecord|}}
    {{#if isRelationInverted}}
    {{else}}
      <div>{{innerRecord._source.type}}: {{innerRecord._source.description}}</div>
    {{/if}}
  {{/each}}
  {{#unless (eq innerRecordsNumber innerRecords.length)}}
    {{#bs-button size="sm" onClick=(action "loadMore")}}{{tt this "loadMore"}}{{/bs-button}}
  {{/unless}}
{{/item.body}}
