{{#item.title}}
  {{#truncated-string}}{{or study.display_title.title "Untitled"}}{{/truncated-string}}
{{/item.title}}
{{!-- TODO: Add actions when requirements will be exactly specified --}}
<ul class="result-actions">
  {{!-- <li class="result-action" {{action "resultAction"}}>{{one-icon icon="settings"}}</li>
  <li class="result-action" {{action "resultAction"}}>{{one-icon icon="settings"}}</li> --}}
  <li class="result-action remove-action" {{action remove}}>{{one-icon icon="x"}}</li>
</ul>
{{#item.body}}
  {{#if dataObjects.length}}
    <div class="data-object-records">
      {{#if studyDescription}}
        <div class="data-object-record study-info">
          <div class="data-object-type">{{tt this "studyDescription"}}</div>
          <div class="data-object-description">
            {{line-clamp
              text=studyDescription
              lines=2
              interactive=false
              truncate=true
            }}
          </div>
        </div>
      {{/if}}
      {{#if studyDataSharingStatement}}
        <div class="data-object-record study-info">
          <div class="data-object-type">{{tt this "studyDataSharingStatement"}}</div>
          <div class="data-object-description">
            {{line-clamp
              text=studyDataSharingStatement
              lines=2
              interactive=false
              truncate=true
            }}
          </div>
        </div>
      {{/if}}
      {{#each dataObjects as |dataObject|}}
        <div class="data-object-record">
          <div class="data-object-type">{{or dataObject._source.object_type.translatedName dataObject._source.object_type.name}}</div>
          <div class="data-object-description">
            {{#if dataObject._source.display_title}}
              <p>
                {{line-clamp
                  text=dataObject._source.display_title
                  lines=2
                  interactive=false
                  truncate=true
                }}
              </p>
            {{/if}}
            {{#if dataObject._source.url}}
              <p>{{dataObject._source.url}}</p>
            {{/if}}
          </div>
          <div class="data-object-year">{{or dataObject._source.publication_year "-"}}</div>
          <div class="data-object-status"><span class="data-object-status-icon {{or dataObject._source.access_type.indicator "unknown"}}"></span></div>
        </div>
      {{/each}}
    </div>
  {{/if}}
  {{#if fetchInnerRecordsProxy.isPending}}
    {{spin-spinner-block sizeClass="xs" class="loading-inner-spinner"}} <span>{{tt this "loading"}}</span>
  {{/if}}
{{/item.body}}
