{{#item.title}}
  {{#truncated-string}}{{or study.display_title.title "Untitled"}}{{/truncated-string}}
{{/item.title}}
{{!-- TODO: Add actions when requirements will be exactly specified --}}
<ul class="result-actions">
  {{!-- <li class="result-action" {{action "resultAction"}}>{{one-icon icon="settings"}}</li>
  <li class="result-action" {{action "resultAction"}}>{{one-icon icon="settings"}}</li> --}}
  <li class="result-action remove-action" {{action remove}}>{{one-icon icon="x"}}</li>
</ul>
{{#item.body}}
  {{#if dataObjects.length}}
    <table class="do-records table">
      {{#if studyDescription}}
        <tr>
          <td class="do-type">{{tt this "studyDescription"}}</td>
          <td class="do-description">{{studyDescription}}</td>
          <td class="do-year"></td>
          <td class="do-status"></td>
        </tr>
      {{/if}}
      {{#each dataObjects as |dataObject|}}
        <tr>
          <td class="do-type">{{or dataObject._source.object_type.translatedName dataObject._source.object_type.name}}</td>
          <td class="do-description">
            {{#if dataObject._source.display_title}}
              <p>{{dataObject._source.display_title}}</p>
            {{/if}}
            {{#if dataObject._source.url}}
              <p>{{dataObject._source.url}}</p>
            {{/if}}
          </td>
          <td class="do-year">{{or dataObject._source.publication_year "-"}}</td>
          <td class="do-status"><span class="do-status-icon {{or dataObject._source.access_type.indicator "unknown"}}"></span></td>
        </tr>
      {{/each}}
    </table>
  {{/if}}
  {{#if fetchInnerRecordsProxy.isPending}}
    {{spin-spinner-block sizeClass="xs" class="loading-inner-spinner"}} <span>{{tt this "loading"}}</span>
  {{/if}}
{{/item.body}}
