<div class="panel-heading" {{action (mut study.isRecordExpanded) (not study.isRecordExpanded)}}>
  {{#truncated-string}}{{or study.title (tt this "untitled")}}{{/truncated-string}}
</div>
<ul class="result-actions">
  {{#if study.isRecordExpanded}}
    <li class="result-action expand-action" {{action "toggleAllElementsExpansion"}}>
      {{one-icon icon=(if study.hasAllElementsExpanded "arrow-up" "arrow-down")}}
    </li>
  {{/if}}
  <li class="result-action remove-action {{if isFetchingData "disabled"}}" {{action "remove"}}>{{one-icon icon="x"}}</li>
</ul>
{{#bs-collapse class="panel-body" collapsed=(not study.isRecordExpanded)}}
  <div class="data-object-records">
    {{#if study.description}}
      {{#query-results/data-object-record
        class="study-info"
        isExpanded=study.isDescriptionExpanded
        toggleExpansion=(action
          (mut study.isDescriptionExpanded)
          (not study.isDescriptionExpanded)
        )
        showYear=false
        showAccessIndicator=false
        showCheckbox=false
        typeText=(tt this "studyDescription")
      }}
        {{study.description}}
      {{/query-results/data-object-record}}
    {{/if}}
    {{#if study.dataSharingStatement}}
      {{#query-results/data-object-record
        class="study-info"
        isExpanded=study.isDataSharingStatementExpanded
        toggleExpansion=(action
          (mut study.isDataSharingStatementExpanded)
          (not study.isDataSharingStatementExpanded)
        )
        showYear=false
        showAccessIndicator=false
        showCheckbox=false
        typeText=(tt this "studyDataSharingStatement")
      }}
        {{study.dataSharingStatement}}
      {{/query-results/data-object-record}}
    {{/if}}
    {{#each (sort-by "year:asc" study.dataObjects) as |dataObject|}}
      {{#query-results/data-object-record
        isExpanded=(contains dataObject study.expandedDataObjects)
        toggleExpansion=(action "toggleDataObjectExpansion" dataObject)
        typeText=dataObject.type.name
        year=dataObject.year
        accessTypeIndicator=(or dataObject.accessType.indicator "unknown")
        accessTypeName=dataObject.accessType.name
        isChecked=(contains dataObject selectedDataObjects)
      }}
        {{#if dataObject.title}}
          <p>{{dataObject.title}}</p>
        {{/if}}
        {{#if dataObject.accessDetails}}
          <p>
            <strong>Access details:</strong> {{dataObject.accessDetails}}
            {{#if dataObject.accessDetailsUrl}}
              (see: 
              {{#if dataObject.hasCorrectAccessDetailsUrl}}
                <a href={{dataObject.accessDetailsUrl}} target="_blank">{{dataObject.accessDetailsUrl}}</a>
              {{else}}
                {{dataObject.accessDetailsUrl}}
              {{/if}}
              )
            {{/if}}
          </p>
        {{/if}}
        {{#if dataObject.url}}
          <p>
            {{tt this "urlAccess"}}:
            {{#if dataObject.hasCorrectUrl}}
              <a href={{dataObject.url}} target="_blank">{{dataObject.url}}</a>
            {{else}}
              {{dataObject.url}}
            {{/if}}
          </p>
        {{/if}}
      {{/query-results/data-object-record}}
    {{/each}}
  </div>
  {{#if study.dataObjectsPromiseObject.isPending}}
    {{spin-spinner-block sizeClass="xs" class="loading-inner-spinner"}} <span>{{tt this "loading"}}</span>
  {{/if}}
{{/bs-collapse}}
